

:root{
    --primary-coloer:violet;
    --off-white: hsla(220, 14%, 96%, 0.898);
    --dark-gray:#6B7280;
}


body{
    font-family: 'Montserrat', sans-serif;
    margin: 2px;

}


h2{
    text-align: center;
    margin: 1rem;
    color: black
}

p{
    text-align: center;
    margin-top: 0.2rem;
}
h3{
    text-align: center;
    color: white;
}


h1{
    margin-top: -7px;
    text-align: left;
    color: var(--primary-coloer);
    text-align: center;
    margin-top: 3rem;
}

nav{
    text-align: right;
    background-color: var(--primary-coloer);
    height: 15rem;
    font-size: 1.5rem;
    padding-left: 2rem;
    margin-top: -3.8rem;  
}


h3{
    text-align: left;
    font-size: 3rem;
    text-align: left;
    padding: 3rem;
}


.a{
    text-align: center;
    color: white;

}

.footer{
    background-color: var(--primary-coloer);
    padding: 2rem 3rem;
    text-align: center;
    color: white;
    margin-top: 5rem;

    
}



footer{
    padding-inline-start: 1px;
    text-align: center;
    font-size: 1rem;
    background-color: var(--primary-coloer);
    margin-top: 0rem;
    font-style: var(--primary-coloer);
    margin-top: 12rem;


}
h2{
    text-align: center;
    padding: 1rem;
    margin-top: 0.5rem;

}

footer .link{
    color: white;
    text-align: left;
    background-color: var(--primary-coloer);


}

header{
    text-align: center;
    padding: 0.1rem

}


.btn{
    text-align: center;
    margin-left: 24rem;
    background-color: var(--primary-coloer);
}

a{
    text-align:center;
    padding-left: 6%;
    color: white;

}

h5{
    text-align: center;
    color: white;
    font-size: 2rem;
}

.link-Primary{
    background-color: var(--primary-coloer);
    color: white;
    border-radius: 2rem;
    border: 8px solid var(--primary-coloer);
    margin-left: 53rem;
    text-align: center;
    padding-left: 4rem;
    margin-top: 20rem;
}

.link-Secondary{
    color: var(--primary-coloer);
    border: 2px solid var(--primary-coloer);
    text-align: center;
    border-radius: 8px ;
    height: 10rem;
    width: 4rem;
    margin-top: 20rem;
    
}


.small{
    text-align: center;
}

img{
    height: 40rem;
    width: 40rem;
    padding: 0.40rem;
}
